.landing {
    background-color: #464646;
    width: 100%;
    height: 1080px;
    color: #ffffff;
}

.landing__navigation {
    padding-top: 80px;
    display: flex;
    width: 100%;
}



.navigation__link {
    width: calc(30% / 4);
    height: 90px;
    min-width: 70px;
    background-color: #232323;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    text-decoration: none;
    color: #ffffff;
}

.navigation__link--right {
    margin-left: auto;
}

.navigation__link--left {
    padding-left: calc(30% / 4);
}

.landing__headlines {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.headline{
    display: flex;
    flex-direction: column;
}

.headline__title {
    display: flex;
    align-self: center;
    flex-direction: column;
    height: 200px;
    width: 25vw;
    max-width: 500px;
    min-width: 300px;
}

.headline__word {
    font-size: 5rem;
    margin: 0;
}

.headline__word--begin {
    align-self: flex-start;
}

.headline__word--end {
    align-self: flex-end;
}

.headline__subheader {
    text-align: center;
    font-size: 2rem;
}
